
@{
    ViewData["Title"] = "Customer";
}

@* this is the "anchor tag helper" *@
<a asp-action="CustomerInfo">I want to get my New Game Console, Right NOW!!</a>


<h1>Welcome! How can I help you today?</h1>

