@model GStore.WebUI.Models.OrderViewModel
@using GStore.WebUI.Models;


@{
    ViewData["Title"] = "PlaceOrder";
    int customerId = (int)ViewData["Customer"];
    int storeId = (int)ViewData["Store"];

}

<h1>PlaceOrder</h1>


<h4>Current Customer ID: @customerId</h4>

<h4>Current Store ID: @storeId</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PlaceOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NSAmount" class="control-label"></label>    $300.00
                <select asp-for="NSAmount" class="selectpicker">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <span asp-validation-for="NSAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XBOAmount" class="control-label"></label>
                <select asp-for="XBOAmount" class="selectpicker">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <span asp-validation-for="XBOAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PS4PAmount" class="control-label"></label>    $299.99
                <select asp-for="PS4PAmount" class="selectpicker">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <span asp-validation-for="PS4PAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PS4Amount" class="control-label"></label>    $250
                <select asp-for="PS4Amount" class="selectpicker">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <span asp-validation-for="PS4Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PS3Amount" class="control-label"></label>    $149.99
                <select asp-for="PS3Amount" class="selectpicker">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <span asp-validation-for="PS3Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="XB360Amount" class="control-label"></label>    $150.00
                <select asp-for="XB360Amount" class="selectpicker">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                </select>
                <span asp-validation-for="XB360Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"
                       asp-controller="Customer" asp-action="PlaceOrder" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

